<div class="account-page">
  <h3 style="margin-top: -.75rem;">user: <%= Sync.Models.session.username %></h3>
  email: <%= Sync.Models.session.email %>
  <br>
  <br>
  points: <%= Sync.Models.session.points %>
  <br>
  <br>
  messages:
  <div class="messages-box">
    
  </div>
  <!-- <a class="btn link-active link-post-select-button messages-button" style="width:45%">messages</a>
  <a class="btn text-post-select-button sent-messages-button" style="width:45%">sent messages</a> -->
  <button class="btn link-active messages-button" style="width:45%">messages</a>
  <button class="btn sent-messages-button" style="width:45%">sent messages</a>
</div>