<div class="new-post-comment">
  <form>
    <textarea class='my-text-area new-post-comment-text' rows='2' cols='80' name='comment[body]' style='white-space: pre-wrap;'></textarea>
    <input type="hidden" name="comment[user_id]" value="1">
    <br>
    <button class='btn btn-xs btn-default new-post-comment' style="margin-left:0rem;">submit</button>
  </form>
</div>