<div class="comment" style="margin-left: <%= 2 * parseInt(comment.escape('indents')) %>rem;">
  <div class="comment-header">
    <%= comment.escape('user') %>
  </div>
  <div class="comment-content">
    <%= comment.escape('body') %>
  </div>
  <div class="sub-comments">
  </div>
</div>