<div class="post-new">
  <a class="btn" style="width:50%">URL</a>
  <br>
  <br>
  <form>
    <label>
      Title
    </label>
    <input type="text" name="user[username]" class="my-text-box form-control">
    <br>
    <label>
      Password
    </label>
    <input type="password" name="user[password]" class="my-text-box">
    <button class="btn btn-success sign-up-btn"><span class="glyphicon glyphicon-ok" style="color:white;"></span></button>
  </form>
</div>