<div class="post-new">
  <a class="btn link-active link-post-select-button">Link Post</a>
  <a class="btn text-post-select-button" href="#/p/t">Text Post</a>
  <br>
  <br>
  <form>
    <label>
      Title
    </label>
    <input type="text" name="post[title]" class="form-control">
    <br>
    <label>
      URL
    </label>
    <input type="text" name="post[url]" class="form-control">
    <br>
    <label>
      Sub
    </label>
    <input type="text" name="post[sub]" class="form-control">
    <br>
    (pics, science, videos, music, etc.)
    <br>
    <br>
    <input type="hidden" name="post[user_id]" value="1">
    <button class="btn btn-success new-post-button form-control">post</button>
  </form>
</div>