<div class="post-new">
  <a class="btn link-post-select-button" href="#/p">Link Post</a>
  <a class="btn link-active text-post-select-button">Text Post</a>
  <br>
  <br>
  <form>
    <label>
      Title
    </label>
    <input type="text" name="post[title]" class="my-text-box form-control">
    <br>
    <label>
      Body
    </label>
    <textarea rows="18" name="post[url]" class="my-text-box form-control"></textarea>
    <br>
    <button class="btn btn-success new-post-button form-control">post</button>
  </form>
</div>