<div class="post-new">
  <a class="btn link-post-select-button" href="#/p">Link Post</a>
  <a class="btn link-active text-post-select-button">Text Post</a>
  <br>
  <br>
  <form>
    <label>
      Title
    </label>
    <input type="text" name="post[title]" class="form-control">
    <br>
    <label>
      Body
    </label>
    <textarea rows="13" name="post[body]" class="form-control" style="white-space: pre-wrap;"></textarea>
    <br>
    <label>
      Sub
    </label>
    <input type="text" name="post[sub]" class="form-control">
    <br>
    (pics, science, videos, music, etc.)
    <br>
    <br>
    <input type="hidden" name="post[user_id]" value="1">
    <button class="btn btn-success new-post-button form-control">post</button>
  </form>
</div>