<div class="sub-new">
  <form>
    <label>
      name
    </label>
    <% if (subName) { %>
      <input type="text" name="sub[name]" value="<%= subName %>" class="form-control">
    <% } else { %>
      <input type="text" name="sub[name]" class="form-control">  
    <% } %>
    <br>
    <label>
      description/rules
    </label>
    <textarea rows="15" name="sub[description]" class="form-control" style="white-space: pre-wrap;"></textarea>
    <br>
    <input type="hidden" name="sub[owner]" value="<%= Sync.Models.session.username %>">
    <button class="btn btn-success new-sub-button form-control">create</button>
  </form>
</div>