@import "bootstrap";
@import "font-awesome";

$navbar-default-bg: black;

html {
  background-color: #E3F5FF;
  
//  background-image: -moz-linear-gradient(top, #E3F5FF, #FFF);
//  background-image: -ms-linear-gradient(top, #E3F5FF, #FFF);
//  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E3F5FF), to(#FFF));
//  background-image: -webkit-linear-gradient(top, #E3F5FF, #FFF);
//  background-image: -o-linear-gradient(top, #E3F5FF, #FFF);
//  background-image: linear-gradient(top, #E3F5FF, #FFF);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#E3F5FF), to(#FFF));
  background-attachment: fixed;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}

* {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  color: #555555;
}

body * {
  //
}

body {
//  padding-top: 4rem;
  padding-top: 4.5rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  padding-left: 1rem;
  padding-right: .5rem;
  padding-bottom: 0rem;
  border-radius: .5rem;
  border-left: 1px #E5F7FF solid;
  border-right: 1px #E5F7FF solid;
  
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
}

.navbar-default {
  background-color: #FFF;
  
//  background-image: -moz-linear-gradient(top, #FCFCFC, #FFF);
//  background-image: -ms-linear-gradient(top, #FCFCFC, #FFF);
//  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FCFCFC), to(#FFF));
//  background-image: -webkit-linear-gradient(top, #FCFCFC, #FFF);
//  background-image: -o-linear-gradient(top, #FCFCFC, #FFF);
//  background-image: linear-gradient(top, #FCFCFC, #FFF);
  background-repeat: repeat-x;
  
  background-image: -webkit-gradient(linear, center top, center bottom, from(#FAFAFA), to(#FFF));
  
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, .375);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, .375);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .375);
  
//  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
//  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
//  box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
  
  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  border-bottom: 1px #BBB solid;
  opacity: 1;
  
  height: 7%;
}

.profile-header {
  position: absolute;
  right: 8.28%;
  top: 37%;
  min-width: 4.3%;
}

.alerts {
  position: absolute;
  left: 15.28%;
  top: 37%;
  color: red;
}

.messages {
  position: absolute;
  left: 15.28%;
  top: 37%;
  color: #00CF0B;
}

//a { color: #53ABDF; }

//.navbar-default:hover {
//  border-bottom: 1px #5CBAFF solid;
//-webkit-box-shadow: 2px 2px 6px rgba(92, 186, 255, .375);
//  -moz-box-shadow: 2px 2px 6px rgba(92, 186, 255, .375);
//  box-shadow: 2px 2px 6px rgba(92, 186, 255, .375);
//}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below {
  margin-left: 30%;
}

.tabs-below > .nav-tabs {
//  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: 6.8rem;
  margin-bottom: 0;
  border-left: thin solid #DDD;
  border-bottom: thin solid #DDD;
  border-right: thin solid #DDD;
  border-radius: 5px;
  width: 15%;
  text-align: center;
  background: white;
//  background: transparent;
}

.tabs-below > .nav-tabs > li > a {//
//  -webkit-border-radius: 0 0 4px 4px;
//     -moz-border-radius: 0 0 4px 4px;
//          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.navbar-center {
  width: 90%;
  margin: 0 auto;
}

.navbar-not {
  margin-right: 1rem;
}

.main {
  position: relative;
  margin-top: -1rem;
}

.commands-link {
  font-size: 55%;
  position: absolute;
  top: .7%;
  left: 13.5%;
}

.post-title {
  font-size: 120%;
  display: inline-block;
}

.posts {
  margin-top: -1rem;
}

.thumbnail-post {
  min-height: 6rem;
  position: relative;
  border-top: 2px #AAAAAA dotted;
//  border-left: 1px #DDD dotted;
//  border-right: 1px #DDD dotted;
  padding-top: .5rem;
  margin-left: 1.2rem;
  padding-right: 1.5rem;
  margin-bottom: 1rem;
  border-radius: .4rem;
  margin-top: -.3rem;
//  border: 1px red solid;
  left: .9%;
//  left: 3%;
  display: inline-block;
  width: 90.50%;
//  width: 96.75%;
  
  //white-space: nowrap;
  overflow-x: auto;
  
//  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
//  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
//  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

//  box-shadow: 0 6px .5px -4px #DDD;
//  box-shadow: 0 6px .1px -4px #DDD;

//-webkit-box-shadow: 0 8px -3px -5px black;
//     -moz-box-shadow: 0 8px 3px -5px black;
//          box-shadow: 0 8px 3px -5px black;
  
  background-color: #2c2c2c;
  
  //vertical gradient
  background-image: -moz-linear-gradient(top, #FFF, #FDFDFD);
  background-image: -ms-linear-gradient(top, #FFF, #FDFDFD);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#FDFDFD));
  background-image: -webkit-linear-gradient(top, #FFF, #FDFDFD);
  background-image: -o-linear-gradient(top, #FFF, #FDFDFD);
  background-image: linear-gradient(top, #FFF, #FDFDFD);
  background-repeat: repeat-x;
  
  //horizontal gradient
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffffff 0%, #FCFDFF 25%, #FCFDFF 75%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(25%,#FCFDFF), color-stop(75%,#FCFDFF), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}

.text-post {
  min-height: 6rem;
  position: relative;
  border-top: 2px #AAAAAA dotted;
//  border-left: 1px #DDD dotted;
//  border-right: 1px #DDD dotted;
  padding-top: .5rem;
//  padding-left: .2%;
  padding-right: 1.5rem;
  margin-bottom: 1rem;
  border-radius: .4rem;
  margin-top: -.3rem;
  margin-left: .5%;
//  border: 1px red solid;
//  left: .9%;
  left: 2.85%;
  display: inline-block;
//  width: 91.75%;
  width: 96%;
  
  //white-space: nowrap;
  overflow-x: auto;
  
//  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
//  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
//  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

//  box-shadow: 0 6px .1px -4px #DDD;

//-webkit-box-shadow: 0 8px -3px -5px black;
//     -moz-box-shadow: 0 8px 3px -5px black;
//          box-shadow: 0 8px 3px -5px black;
  
  background-color: #2c2c2c;
  
  //vertical gradient
  background-image: -moz-linear-gradient(top, #FFF, #FDFDFD);
  background-image: -ms-linear-gradient(top, #FFF, #FDFDFD);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#FDFDFD));
  background-image: -webkit-linear-gradient(top, #FFF, #FDFDFD);
  background-image: -o-linear-gradient(top, #FFF, #FDFDFD);
  background-image: linear-gradient(top, #FFF, #FDFDFD);
  background-repeat: repeat-x;
  
  //horizontal gradient
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffffff 0%, #FCFDFF 25%, #FCFDFF 75%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(25%,#FCFDFF), color-stop(75%,#FCFDFF), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}

.post:hover {
//  border: 2px #5CBAFF solid;
//  border-radius: .4rem;
}

.poster {
  display: inline-block;
  font-size: 90%;
}

.-page-header {
  font-size: 150%;
  margin-left: 1rem;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  text-shadow: 1px 1px #DDD;
  
  //horizontal gradient
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffffff 0%, #FCFDFF 25%, #FCFDFF 75%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(25%,#FCFDFF), color-stop(75%,#FCFDFF), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.thumbnail-section {
  //  border: 1px red solid;
    display: inline-block;
    position: relative;
  //  top: 0%;
    top: -.2rem;
    left: 2%;
    max-width: 4.5%;
    height: auto;
    margin-left: 2.3rem;
    margin-right: 2rem;
    vertical-align: top;
    text-shadow: 1px 1px #DDD;
    text-align: center;
    font-size: 75%;
    margin-bottom: 1rem;
}

.thumbnail-image {
  //  border: 1px red solid;
    display: inline-block;
    position: absolute;
  //  top: 0%;
    top: -.2rem;
    left: 2%;
    max-width: 4.5%;
    height: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    vertical-align: top;
    text-shadow: 1px 1px #DDD;
    text-align: center;
    font-size: 75%;
}

#sub-navigate {
//  border: thin #666 solid;
  position: absolute;
  left: 50%;
  bottom: 17%;
  width: 20rem;
  margin-left: -10rem;
  border: 2px #5CBAFF solid;
  opacity: .8;
  
  background: -webkit-gradient(linear,0 0,0 bottom,from(#FFF),to(#EEE));
  background: -webkit-linear-gradient(#FFF,#EEE);
  background: -moz-linear-gradient(#FFF,#EEE);
  background: -ms-linear-gradient(#FFF,#EEE);
  background: -o-linear-gradient(#FFF,#EEE);
  background: linear-gradient(#FFF,#EEE);
}

#sub-navigate:focus {
//  border: thin #666 solid;
  border: thin #666 solid;
  color: #5CBAFF;
  opacity: 1;
}

#sub-navigate:hover {
  background-color: #5CBAFF;
  border: thin #5CBAFF solid;
  color: white;
  opacity: 1;
}

#sub-navigate-button {
  border: thin #666 solid;
}

.date-time {
  display: inline-block;
  font-size: 80%;
}

.post-info-wrapper {
  display: block;
}

.sign-out-button {
  position: absolute;
  left: 92.50%;
  top: 28%;
  border-color: #888;
  opacity: 50%;
  color: #888;
  
  background: -webkit-gradient(linear,0 0,0 bottom,from(#FFF),to(#F6F6F6));
  background: -webkit-linear-gradient(#FFF,#F6F6F6);
  background: -moz-linear-gradient(#FFF,#F6F6F6);
  background: -ms-linear-gradient(#FFF,#F6F6F6);
  background: -o-linear-gradient(#FFF,#F6F6F6);
  background: linear-gradient(#FFF,#F6F6F6);
}

.sign-out-button:hover {
  background-color: #53ABDF;
  border: 1px #53ABDF solid;
  color: #53ABDF;
  .sign-out-span {
    color: #53ABDF;
  }
}

.sign-out-span {
  color: #777;
}

.sign-up-button {
  position: absolute;
  left: 90.50%;
  top: 28%;
  border: none;
  opacity: 50%;
}

.sign-in-button {
  position: absolute;
  left: 92.50%;
  top: 28%;
  border: none;
  opacity: 50%;
}

#make-post {
  border: thin #666 solid;
  position: absolute;
  left: 89.6%;
  bottom: 17%;
  width: 20rem;
  margin-left: -10rem;
  border: thin #666 solid;
  opacity: .8;
  
  background: -webkit-gradient(linear,0 0,0 bottom,from(#FFF),to(#EEE));
  background: -webkit-linear-gradient(#FFF,#EEE);
  background: -moz-linear-gradient(#FFF,#EEE);
  background: -ms-linear-gradient(#FFF,#EEE);
  background: -o-linear-gradient(#FFF,#EEE);
  background: linear-gradient(#FFF,#EEE);
}

#make-post:hover {
  background-color: #5CBAFF;
  border: thin #5CBAFF solid;
  color: #53ABDF;
  opacity: 1;
}

#last-page-button {
  border: thin #666 solid;
  position: absolute;
  left: 10.5%;
  bottom: 17%;
  width: 20rem;
  margin-left: -8.95rem;
  border: thin #666 solid;
  opacity: .8;
  
  background: -webkit-gradient(linear,0 0,0 bottom,from(#FFF),to(#EEE));
  background: -webkit-linear-gradient(#FFF,#EEE);
  background: -moz-linear-gradient(#FFF,#EEE);
  background: -ms-linear-gradient(#FFF,#EEE);
  background: -o-linear-gradient(#FFF,#EEE);
  background: linear-gradient(#FFF,#EEE);
}

#last-page-button:hover {
  background-color: #5CBAFF;
  border: thin #5CBAFF solid;
  color: #53ABDF;
  opacity: 1;
}

.btn {
  border-radius: .3rem;
}

.sub-stats {
  font-size: 60%;
  margin-bottom: 3rem;
}

.post-score-wrapper {
  position: relative;
  margin-left: .5rem;
}

.title {
  padding-left: 1.5rem;
}

.poster-in-show {
  padding-left: 0rem;
}

.score-box {
//  border: 1px red solid;
  display: inline-block;
  position: absolute;
//  top: 0%;
  top: -.4rem;
  left: 0%;
  width: 1.5%;
  margin-left: 2rem;
  margin-right: 2rem;
  vertical-align: top;
  text-shadow: 1px 1px #DDD;
  text-align: center;
  font-size: 75%;
}

.comment-vote-box {
  display: inline-block;
  position: absolute;
  top: .4rem;
  left: -.67%;
  width: 1.5%;
  margin-left: 2rem;
  margin-right: 2rem;
  vertical-align: top;
  text-shadow: 1px 1px #DDD;
  text-align: center;
  font-size: 75%;
}

.show-score-box {
//  border: 1px red solid;
  display: inline-block;
  position: absolute;
//  top: 0%;
  top: -1.3rem;
  left: 0%;
  width: 1.5%;
  margin-left: 0rem;
  margin-right: 1rem;
  vertical-align: top;
  text-shadow: 1px 1px #DDD;
  text-align: center;
  font-size: 75%;
}

.upvote {
  background: transparent;
}

.downvote {
  background: transparent;
}

.post-show {
  margin-left: 2rem;
  margin-top: 5rem;
}

.post-section {
  padding-bottom: 1rem;
  margin-right: 2rem;
  border-bottom: thin #CCC solid;
//  padding-left: 1.5rem;
}

.in-show {
  margin-top: 1rem;
}

.expand-all {
  background: transparent;
  border: 1px #CCC solid;
  margin-right: .333rem;
  position: absolute;
  top: .045%;
  
  background: -webkit-gradient(linear,0 0,0 bottom,from(#FFF),to(#F6F6F6));
  background: -webkit-linear-gradient(#FFF,#F6F6F6);
  background: -moz-linear-gradient(#FFF,#F6F6F6);
  background: -ms-linear-gradient(#FFF,#F6F6F6);
  background: -o-linear-gradient(#FFF,#F6F6F6);
  background: linear-gradient(#FFF,#F6F6F6);
}

.expand-all:hover {
  background-color: #53ABDF;
  border-color: #53ABDF;
  color: #53ABDF;
  .expand-minimize-all-posts {
    color: #53ABDF;
  }
}

.minimize-all {
  background: transparent;
  border: 1px #CCC solid;
  margin-right: .333rem;
  min-width: 3.4rem;
  
  background: -webkit-gradient(linear,0 0,0 bottom,from(#FFF),to(#F6F6F6));
  background: -webkit-linear-gradient(#FFF,#F6F6F6);
  background: -moz-linear-gradient(#FFF,#F6F6F6);
  background: -ms-linear-gradient(#FFF,#F6F6F6);
  background: -o-linear-gradient(#FFF,#F6F6F6);
  background: linear-gradient(#FFF,#F6F6F6);
}

.minimize-all:hover {
  background-color: #53ABDF;
  border-color: #53ABDF;
  color: #53ABDF;
  .expand-minimize-all-posts {
    color: #53ABDF;
  }
}

.expand-image {
  background: transparent;
  border: 1px #CCC solid;
  margin-right: .333rem;
  
  background: -webkit-gradient(linear,0 0,0 bottom,from(#FFF),to(#F6F6F6));
  background: -webkit-linear-gradient(#FFF,#F6F6F6);
  background: -moz-linear-gradient(#FFF,#F6F6F6);
  background: -ms-linear-gradient(#FFF,#F6F6F6);
  background: -o-linear-gradient(#FFF,#F6F6F6);
  background: linear-gradient(#FFF,#F6F6F6);
}

.expand-image:hover {
  background-color: #53ABDF;
  border-color: #53ABDF;
  .expand-image-span {
    color: #53ABDF;
  }
}

.expand-image-span:hover {
  color: white;
}

.expand-body {
  background: transparent;
  border: 1px #CCC solid;
  margin-right: .333rem;
}

.expand-body:hover {
  background-color: #53ABDF;
  border-color: #53ABDF;
  .expand-body-span {
    color: white;
  }
}

.expand-body-span:hover {
  color: white;
}

.post-content {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 92%;
}

.show-post-content {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 92%;
  padding-left: 1.5rem;
}

img {
  max-width: 100%;
  max-height: 50%;
}

img.header {
  max-width: none;
  max-height: none;
  padding-bottom: .8rem;
  margin-right: .5rem;
//  -webkit-box-reflect: below 0px;
  -webkit-box-reflect: below -18px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent), to(rgba(255,255,255,0.5)));
}

.comment-section {
  margin-top: 1rem;
  margin-left: -2rem;
}

.sign-up {
  position: absolute;
  border: 2px solid #BBB;
  border-radius: .5rem;
  padding: 3%;
  padding-top: 2.2%;
  padding-left: 5.5%;
  width: 45%;
  margin-left: -22.5%;
  left: 50%;
  top: 28rem;
  height: 19rem;
  background-color: white;
}

//.front-page-box-wrapper {
//  position: absolute;
//  border: 1px solid red;
//  height: 30%;
//  width: 120%;
//  left: 0%;
//}

.sign-in {
  position: absolute;
  border: 2px solid #BBB;
  border-radius: .5rem;
  padding: 3%;
  padding-top: 2.2%;
  padding-left: 5.5%;
  width: 45%;
  margin-left: -22.5%;
  left: 50%;
  top: 28rem;
  height: 19rem;
  background-color: white;
}

.my-text-box {
  border-radius: .3rem;
  border: 1px solid #DDD;
  text-align:center;
}

.sign-up-btn {
  margin-left: 1rem;
  width: 7rem;
}

.post-new {
  position: absolute;
  border: 2px solid #BBB;
  border-radius: .5rem;
  padding: 1.5%;
  width: 45%;
  margin-left: -22.5%;
  left: 50%;
  top: 14rem;
  height: 58rem;
  background-color: white;
}

.sub-new {
  position: absolute;
  border: 2px solid #BBB;
  border-radius: .5rem;
  padding: 1.5%;
  width: 45%;
  margin-left: -22.5%;
  left: 50%;
  top: 14.5rem;
  height: 52.7rem;
  background-color: white;
}

a.link-post-select-button {
  border: 1px #888 solid;
  width: 48.5%;
  margin-right: 1.5%;
}

a.text-post-select-button {
  border: 1px #888 solid;
  width: 48.5%;
}

a[class="btn link-post-select-button"]:hover {
  color: #666;
}

a[class="btn text-post-select-button"]:hover {
  color: #666;
}

.link-active {
  background-color: #53ABDF;
  border: 1px #53ABDF solid;
  color: white;
}

.link-active:hover {
  color: white;
}

.comments-header {
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.comment {
  border: 1px solid lightgray;
  padding-left: 2rem;
  padding-right: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  border-radius: .3rem;
  position: relative;
}

.comment-header {
  font-size: 80%;
  margin-bottom: .25rem;
  margin-left: 1.35%; //was 0
//  border: 1px solid red;
}

.comment-content {
  font-size: 95%;
  margin-bottom: .5rem;
  margin-left: 1.35%; //was 0
//  border: 1px solid red;
}

.comment-reply {
  font-size: 90%;
}

.button-link {
  background-color: transparent;
  border: none;
  margin-left: -.5rem;
  outline: none;
}

.link-button {
  background:none!important;
  border:none; 
  padding:0!important;
  cursor: pointer;
  color: #428BCA;
}

.link-button:hover {
  text-decoration: underline;
}

.post-reply {
  margin-left: .5rem;
  margin-bottom: .5rem;
  color: #53ABDF;
}

.button-link:hover {
  color: #53ABDF;
  text-decoration: underline;
}

.my-text-area {
  margin-top: .3rem;
  border-radius: .5rem;
  border: 1px solid #BBB;
}

.new-post-comment {
  margin-left: 1rem;
  margin-bottom: .5rem;
}

.account-page {
  position: absolute;
  border: 2px solid #BBB;
  border-radius: .5rem;
  padding: 1.5%;
  width: 45%;
  margin-left: -22.5%;
  left: 50%;
  top: 14rem;
  height: 58rem;
  background-color: white;
}