@import "bootstrap";
@import "font-awesome";

$navbar-default-bg: black;

html {
  background-color: #E3F5FF;
  
  background-image: -moz-linear-gradient(top, #E3F5FF, #FFF);
  background-image: -ms-linear-gradient(top, #E3F5FF, #FFF);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E3F5FF), to(#FFF));
  background-image: -webkit-linear-gradient(top, #E3F5FF, #FFF);
  background-image: -o-linear-gradient(top, #E3F5FF, #FFF);
  background-image: linear-gradient(top, #E3F5FF, #FFF);
  background-attachment: fixed;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}

* {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  color: #555;
}

body * {
  //
}

body {
  padding-top: 5rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: .5rem;
  border-radius: .5rem;
  border-left: 1px #E5F7FF solid;
  border-right: 1px #E5F7FF solid;
  
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
}

.navbar-default {
  background-color: #FFF;
  
  background-image: -moz-linear-gradient(top, #FDFDFD, #FFF);
  background-image: -ms-linear-gradient(top, #FDFDFD, #FFF);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FDFDFD), to(#FFF));
  background-image: -webkit-linear-gradient(top, #FDFDFD, #FFF);
  background-image: -o-linear-gradient(top, #FDFDFD, #FFF);
  background-image: linear-gradient(top, #FDFDFD, #FFF);
  background-repeat: repeat-x;
  
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
  
  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  border-bottom: 1px #BBB solid;
  opacity: 50%;
  
  height: 7%;
}

.navbar-center {
  width: 90%;
  margin: 0 auto;
}

.navbar-not {
  margin-right: 1rem;
}

.main {
  //
}

.post-title {
  font-size: 120%;
}

.posts {
  margin-top: -1rem;
}

.post {
  height: 6rem;
  position: relative;
  border-top: 1px lightgray solid;
  border-left: 1px lightgray solid;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 1rem;
  border-radius: .4rem;
  
//  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
//  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
//  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

  box-shadow: 0 6px .5px -4px #DDD;
  border-right: 1px lightgray solid;

//-webkit-box-shadow: 0 8px -3px -5px black;
//     -moz-box-shadow: 0 8px 3px -5px black;
//          box-shadow: 0 8px 3px -5px black;
  
  background-color: #2c2c2c;
  
  //vertical gradient
  background-image: -moz-linear-gradient(top, #FFF, #FDFDFD);
  background-image: -ms-linear-gradient(top, #FFF, #FDFDFD);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#FDFDFD));
  background-image: -webkit-linear-gradient(top, #FFF, #FDFDFD);
  background-image: -o-linear-gradient(top, #FFF, #FDFDFD);
  background-image: linear-gradient(top, #FFF, #FDFDFD);
  background-repeat: repeat-x;
  
  //horizontal gradient
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffffff 0%, #FCFDFF 25%, #FCFDFF 75%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(25%,#FCFDFF), color-stop(75%,#FCFDFF), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}

.post:hover {
  border: 2px #5CBAFF solid;
  border-radius: .4rem;
}

.poster {
  display: inline-block;
  font-size: 90%;
}

.-page-header {
  font-size: 150%;
  margin-left: 1rem;
  margin-top: 4.5rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px #DDD;
  
  //horizontal gradient
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffffff 0%, #FCFDFF 25%, #FCFDFF 75%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(25%,#FCFDFF), color-stop(75%,#FCFDFF), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(left,  #ffffff 0%,#FCFDFF 25%,#FCFDFF 75%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

#sub-navigate {
  border: thin #666 solid;
}

#sub-navigate-button {
  border: thin #666 solid;
}

.date-time {
  display: inline-block;
  font-size: 90%;
}

.sign-out-button {
  position: absolute;
  left: 92.50%;
  top: 28%;
  color: #555;
  background-color: #53ABDF;
  border: none;
  opacity: 50%;
}

.sign-up-button {
  position: absolute;
  left: 90.50%;
  top: 28%;
  border: none;
  opacity: 50%;
}

.sign-in-button {
  position: absolute;
  left: 92.50%;
  top: 28%;
  border: none;
  opacity: 50%;
}

#make-post {
  position: absolute;
  left: 50%;
  bottom: 17%;
  width: 20rem;
  margin-left: -8.5rem;
  border: thin #666 solid;
}

.btn {
  border-radius: .3rem;
}