<div class="commands-page">
  <h2 style="margin-top: -.6rem; margin-bottom: 2.5rem; text-align:center;">Commands</h2>
  <h4 style="text-decoration:underline;">Overview</h4>
  <span class="text-commands">
    text box at the bottom of the page is activated by key letters - 'f, s, p, t, u, b, q, c, and 1-9. press enter to assert your command. assert c to return to this page.
  </span>
  <br>
  <h4 style="text-decoration:underline;">Front Page / Sub Navigation</h4>
  <span class="text-commands">
    front page - f<br>
    sub page [:name] - s/:name<br>
    sub directory - s/a<br>
    new sub - s/n
  </span>
  <br>
  <h4 style="text-decoration:underline;">Post Navigation</h4>
  <span class="text-commands">
    make new post - p<br>
    make new text post - p/t<br>
    show post with number :index on current page - p/:index
  </span>
  <br>
  <h4 style="text-decoration:underline;">User Navigation</h4>
  <span class="text-commands">
    sign in - u<br>
    sign up - u/n<br>
    your account - u/me<br>
    user profile - u/:username
  </span>
  <br>
  <h4 style="text-decoration:underline;">Tabs</h4>
  <span class="text-commands">
    create tab for current page - t<br>
    create tab for current page and navigate to page :url - t/:url, i.e. t/s/pics or t/p/18<br>
    goto last tab - :b<br>
    goto tab :n - :n<br>
    delete tab number :n - q/:n<br>
  </span>
  <br>
</div>