<div class="sign-up">
  <form>
    <label>
      Username
    </label>
    <input type="text">
    <label>
      Password
    </label>
    <input type="password">
    <button>Create</button>
  </form>
</div>
  