<div class="sign-up">
  <form>
    <h3>Sign Up</h3>
    <label>
      Username
    </label>
    <input type="text" name="user[username]" class="my-text-box">
    <label>
      Password
    </label>
    <input type="password" name="user[password]" class="my-text-box">
    <button class="btn btn-success sign-up-btn"><span class="glyphicon glyphicon-ok" style="color:white;"></span></button>
  </form>
</div>